
body{
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
}

/* Cabecera y menu del sitio*/
.header{
    align-items: center;
    background-color:crimson;
    display: flex;
    height: 80px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
}

.header__title{
    margin: 0;
    padding-left: 40px;
}

/* Contenido del sitio*/
.main{
    background-color: darkgray;
    margin: 0;
    padding: 0;
}

.main__card{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Pie de pagina*/
.footer{
    align-items: center;
    background-color: cornflowerblue;
    display: flex;
    height: 200px;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.footer p {
    color: white;
    font-size: 16px;
    padding-left: 40px;
    padding-right: 40px;
    
}